<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">${i18n("header.forum.name")}</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li <#if activeNavLink == 1>class="active"</#if>><a href="/forum">${i18n("header.forum")}</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li <#if activeNavLink == 2>class="active"</#if>><a href="/profile">${i18n("header.profile")}</a></li>
            </ul>
            <ul class="nav navbar-nav">
                <li <#if activeNavLink == 3>class="active"</#if>><a href="/admin">${i18n("header.admin")}</a></li>
            </ul>
            <#if (session.user_id)??>
            <ul class="nav navbar-nav">
                <li><a href="/index/logout">Logout</a></li>
            </ul>
            </#if>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>