<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Forum" 1>

    <#list categories as c>
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-2">
                    <a href="/forum/category?id=${c.id}">${c.name}</a>
                </div>
                <#if user.isActive() && (user.isAdministrator() || user.isModerator())>
                    <div class="col-xs-1">
                        <form method="post" action="/forum/categoryUp">
                            <input type="hidden" name="category_id" value="${c.id}">
                            <button type="submit"><span class="glyphicon glyphicon-chevron-up"
                                                        aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                    <div class="col-xs-1">
                        <form method="post" action="/forum/categoryDown">
                            <input type="hidden" name="category_id" value="${c.id}">
                            <button type="submit"><span class="glyphicon glyphicon-chevron-down"
                                                        aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                </#if>
            </div>
        </div>
        <div class="panel-body">
            <p>TODO Some information about the category: Number of topics, last topic created, last topic answered..</p>
        </div>
    </div>

    </#list>

    <#if user.isActive() && (user.isAdministrator() || user.isModerator())>
    <form role="form" method="post" action="/forum/categoryCreate">
        <input class="form-control" type="text" id="name" name="name" placeholder="Name"/>
        <button type="submit" class="btn btn-sm">Create Category</button>
    </form>
    </#if>

</@layout.myLayout>