<#import "../layout/defaultLayout.ftl.html" as layout>
<@layout.myLayout "Forum" 1>

<ol class="breadcrumb">
    <li><a href="/forum">Forum</a></li>
    <li><a href="/forum/category?id=${topic.category.id}">${topic.category.name}</a></li>
    <li class="active">${topic.name}</li>
</ol>

<h1>${topic.name} <#if (!topic.open)>(closed)</#if></h1>

    <#list replies as r>
    <div class="panel panel-default">
        <div class="panel-heading">
            ${r.user.name} ${r.created}
        </div>
        <div class="panel-body">
            ${r.content}
        </div>
    </div>
    </#list>

    <#if  (session.user_id)?? && topic.open >
    <p>Add Reply</p>
    <form role="form" method="post" action="/forum/replyCreate">
        <input type="hidden" name="topic_id" value="${topic.id}"/>
        <textarea name="content" rows="10" cols="100"></textarea> <br/>
        <button type="submit" class="btn btn-sm">Reply</button>
    </form>
    </#if>

</@layout.myLayout>