<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<div th:fragment="roleTab" class="container">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Predefined</th>
            <th>Role</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="role : ${roles}">
                <td><input type="checkbox" disabled="disabled" th:checked="${role.predefined}"/></td>
                <td th:text="${role.name}">ROLE_USER</td>
                <td th:text="#{${role.descriptionKey}}">Standard role for users</td>
                <td>
                    <button>Permissions</button>
                    <button>Rename</button>
                    <button>Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button>Add Role</button>
</div>

</body>
</html>