<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <object th:include="fragments :: head" th:remove="tag"/>
</head>
<body>
<div th:replace="fragments :: header ('admin')">Header</div>
<div th:replace="fragments :: flashMessage">Flash-Message</div>

<h1 th:text="#{admin.title}">Admin</h1>

<ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#users" role="tab" data-toggle="tab">Users</a></li>
    <li><a href="#roles" role="tab" data-toggle="tab">Roles</a></li>
    <li><a href="#global" role="tab" data-toggle="tab">Global Settings</a></li>
    <li><a href="#logs" role="tab" data-toggle="tab">Logs</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="users">
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Active</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td><input type="checkbox" disabled="disabled" th:when="${user.active}" th:checked="checked"/></td>
                    <td th:text="${user.name}">John</td>
                    <td th:text="${user.email}">john@example.com</td>
                    <td>
                        <button>Rights</button>
                        <button>Edit</button>
                        <button>Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <button>Add User</button>
        </div>
    </div>
    <div class="tab-pane" id="roles">
        <div class="container">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Predefined</th>
                    <th>Role</th>
                    <th>Description</th>
                    <th>Permissions</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="role : ${roles}" th:remove="tag">
                    <tr>
                        <td><input type="checkbox" disabled="disabled" th:when="${role.predefined}"
                                   th:checked="checked"/></td>
                        <td th:text="${role.name}">ROLE_USER</td>
                        <td th:text="#{${role.descriptionKey}}">Standard role for users</td>
                        <td>&nbsp;</td>
                        <td>
                            <button>Permissions</button>
                            <button>Delete</button>
                        </td>
                    </tr>
                    <tr th:each="permission : ${role.getPermissions()}">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td th:text="${permission.name}">ACCESS_FORUM</td>
                        <td>&nbsp;</td>
                    </tr>
                </div>
                </tbody>
            </table>
            <button>Add Role</button>
        </div>
    </div>
    <div class="tab-pane" id="global">...</div>
    <div class="tab-pane" id="logs">...</div>
</div>


<div th:replace="fragments :: footer">Footer</div>
<div th:replace="fragments :: bottomScripts">Bottom-Scripts</div>
</body>
</html>