<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.index}">Login</title>
    <object th:include="fragments :: head" th:remove="tag" />
</head>
<body>
<div th:replace="fragments :: header ('index')">Header</div>
<div th:replace="fragments :: flashMessage">Flash-Message</div>

<h1 th:text="#{index.title}">Login</h1>

<p th:text="#{index.content}">Content</p>

<div class="panel panel-default">
    <div class="panel-heading" th:text="#{index.login}">Login-Titel</div>
    <div class="panel-body">
        <form role="form" action="#" th:action="@{/login}" method="post">
            <div class="row">
                <div class="col-md-5">
                    <label for="emailOrName" th:text="#{entity.userEmailOrName}">Email or Name</label>
                    <input class="form-control" type="text" id="emailOrName" name="emailOrName"/>
                    <br/>
                    <label for="password" th:text="#{entity.userPassword}">Password</label>
                    <input class="form-control" type="password" id="password" name="password"/>
                    <br/>
                    <button type="submit" class="btn btn-primary" th:text="#{index.login}">Button-Title</button>
                </div>
            </div>
        </form>
        <p>TODO <a href="/passwordRecovery">Passwort vergessen?</a></p>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Registrierung</div>
    <div class="panel-body">TODO <a href="/register">Als neuer Nutzer registrieren</a></div>
</div>

<div th:replace="fragments :: footer">Footer</div>
<div th:replace="fragments :: bottomScripts">Bottom-Scripts</div>
</body>
</html>
