<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{title.forum}">Forum</title>
    <object th:include="fragments :: head" th:remove="tag"/>
</head>
<body>
<div th:replace="fragments :: header ('forum')">Header</div>
<div th:replace="fragments :: flashMessage">Flash-Message</div>

<ol class="breadcrumb">
    <li th:each = "breadcrumb : ${breadcrumbs}">
        <a th:text="${breadcrumb.isRoot()} ? #{forum.overview} : ${breadcrumb.name}"
           th:href="'cat?catId=' + ${breadcrumb.id}">Link</a>
    </li>
    <li class="active" th:text="${topic.name}">Topic</li>
</ol>

<h1 th:text="${topic.name}">Topic</h1>
<p th:text="'by ' + ${topic.user.name} + ', created ' + ${topic.created}">by John Doe, created 01.01.2000 12:00:00</p>

<div th:each="child : ${topic.replies}" class="panel panel-default">
    <div class="panel-heading"><a type="button" th:text="${child.user.name} + ' at ' + ${child.created}" >Category Name</a></div>
    <div class="panel-body">
        <div class="panel panel-default">
            <div class="panel-body" th:text="${child.content}">
                Text of the reply.
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default"
     th:if="${currentUser}"> <!--" and ${currentUser.hasRoleOrPermission('???')}">-->
    <div class="panel-heading" th:text="#{forum.newReply}">New Reply</div>
    <div class="panel-body">
        <form role="form" th:action="${#mvc.url('FC#handleReplyCreateForm').build()}"
              th:object="${replyCreateForm}" method="post">
            <div class="row">
                <div class="col-md-5">
                    <input type="hidden" name="topicId" th:value="${topic.id}"/>
                    <input type="hidden" name="userId" th:value="${currentUser.user.id}"/>
                    <label for="content" th:text="#{forum.replyContent}">Reply content</label>
                    <textarea class="form-control" id="content" name="content" rows="7" columns="50" wrap="soft"></textarea>
                    <br/>
                    <button type="submit" class="btn btn-primary" th:text="#{forum.newReplyButton}">Button-Title
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments :: footer">Footer</div>
<div th:replace="fragments :: bottomScripts">Bottom-Scripts</div>
</body>
</html>